body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-client-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.label-client {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.select-client {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.btn-submit {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #218838;
}

p {
  text-align: center;
  font-size: 1.1em;
  color: #555;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 40px;
}

.chart-container {
  margin-top: 20px;
}

.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.home-container {
  text-align: center;
  margin-top: 50px;
}

.btn-go-to-download {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.download-faturas-container {
  text-align: center;
  margin-top: 50px;
}

.form-container {
  margin-bottom: 20px;
}

.form-container label {
  margin-right: 10px;
}

.form-container select, .form-container input {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-search, .btn-download {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.fatura-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pdf-icon {
  font-size: 50px;
  margin-bottom: 10px;
}
